body {
    background-color: #242423; /* dark background*/
    color: #ab1c03; /* charcoal text */
    font-family: 'Montserrat', sans-serif; /* clean, modern font */
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
    display: flex;
    flex-direction: column;
}

p {
    color: #ab1c03;
    font-size: medium;
    
}
#app {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    z-index: 1; /* Ensure main content is above the background */
    position: relative;
    /*margin to ensure no overlap with fixed header*/
    margin-top: 80px;
    
}


h1, h2, h3 {
    color: #ab1c03; /* deep reeadings */
}

a:hover {
    color: #8D9B83; /* muted earthy green for link hover */
}



.button {
    background-color: #C0392B; /* deep red for buttons */
    color: #FFFFFF; /* soft white text for buttons */
    border: none; /* no border */
    padding: 10px 20px; /* padding for buttons */
    border-radius: 5px; /* rounded corners */
    cursor: pointer; /* pointer cursor */
}

.button:hover {
    background-color: #8D9B83; /* muted earthy green for button hover */
}
@media (max-width: 768px) {
    
    .button {
        font-size: 12px; /* smaller font for smaller screens */
    }
    .container {
        padding: 10px; /* smaller container for smaller screens */
    }
    h1 {
        /* smaller font for smaller screens */
        margin-top: 15px;
    }
    .form {
        width: 100%;
    }
}